@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Am I registered?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar tellus vitae urna porta 
            vulputate. Aliquam erat volutpat. Nulla id tempus risus, sit amet laoreet nunc. 
            Quisque et orci nec urna tempus posuere. Maecenas auctor auctor libero, in vulputate metus 
            facilisis at. Nulla porttitor enim a leo lobortis varius.
        </p>
        <p>@Html.ActionLink("Search", "Index", "User", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Register To Vote</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar tellus vitae urna porta
            vulputate. Aliquam erat volutpat. Nulla id tempus risus, sit amet laoreet nunc.</p>
        <p><a class="btn btn-default" href="http://www.eoni.org.uk">Learn more &raquo;</a></p>
    </div>
    
</div>