USE [master]
GO

/****** Object:  Database [AmIRegistered]    Script Date: 29/01/2016 11:28:49 ******/
CREATE DATABASE [AmIRegistered]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AmIRegistered', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AmIRegistered.mdf' , SIZE = 1888256KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AmIRegistered_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AmIRegistered_log.ldf' , SIZE = 5605504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AmIRegistered].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO



USE [AmIRegistered]

GO
/****** Object:  Table [dbo].[Hash]    Script Date: 29/01/2016 11:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hash](
	[HashId] [int] NOT NULL,
	[HashValue] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Hashes] PRIMARY KEY CLUSTERED 
(
	[HashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 29/01/2016 11:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](32) NOT NULL,
	[LastName] [nvarchar](32) NOT NULL,
	[Address] [nvarchar](128) NOT NULL,
	[Phone] [nvarchar](16) NOT NULL,
	[NINO] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address]    Script Date: 29/01/2016 11:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[Address] [nvarchar](128) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Firstnames]    Script Date: 29/01/2016 11:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firstnames](
	[FirstName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[lastName]    Script Date: 29/01/2016 11:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lastName](
	[lastName] [nvarchar](32) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[address] ([Address]) VALUES (N'High Street')
GO
INSERT [dbo].[address] ([Address]) VALUES (N'Station Road')
GO
INSERT [dbo].[address] ([Address]) VALUES (N'Main Street')
GO
INSERT [dbo].[Firstnames] ([FirstName]) VALUES (N'Aadam')
GO
INSERT [dbo].[Firstnames] ([FirstName]) VALUES (N'Aadit')
GO
INSERT [dbo].[Firstnames] ([FirstName]) VALUES (N'Aahron')
GO
INSERT [dbo].[lastName] ([lastName]) VALUES (N'Smith')
GO
INSERT [dbo].[lastName] ([lastName]) VALUES (N'Brown')
GO
INSERT [dbo].[lastName] ([lastName]) VALUES (N'Wilson')
GO
/****** Object:  StoredProcedure [dbo].[seedTheDb]    Script Date: 29/01/2016 11:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Odhran Hardy
-- Create date: 27/01/16
-- Description:	Truncates the User table and reseeds it with random data
--				The @noOfRows param defines the number of rows to add (Defautled to 2000000)
--				
-- =============================================
CREATE PROCEDURE [dbo].[seedTheDb]
	-- No of rows to return (Defaulted to 2000000)
	@noOfRows int = 2000000
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    TRUNCATE TABLE [User]
	TRUNCATE TABLE [Hash]

	INSERT INTO [User] (firstName, lastName, Address, Phone, NINO)
	SELECT * FROM (
		SELECT TOP (@noOfRows)
		FirstName, 
		lastName, 
		CAST((Abs(Checksum(NewID()) %120) + 1) AS nvarchar(3)) + ' ' + address AS Address,
		CAST(convert(numeric(11,0),rand(checksum(newId()))*89999999999) + 10000000000 AS Varchar(11)) AS Phone,
		  char(ascii('A') + (Abs(Checksum(NewId()))%25)) 
		+ char(ascii('A') + (Abs(Checksum(NewId()))%25)) 
		+ CAST(convert(numeric(6,0),rand(checksum(newId()))*899999) + 100000 AS Varchar(6))
		+ char(ascii('A') + (Abs(Checksum(NewId()))%25)) AS NINO
		FROM 
			firstNames CROSS JOIN lastName CROSS JOIN Address WHERE RIGHT(firstname,1) = LEFT(address,1)
	) randomUsers
	ORDER BY NINO

	INSERT INTO Hash
	SELECT UserId , CONVERT(Char(64),HASHBYTES('SHA2_256',Replace(Lower(FirstName) + Lower(LastName) + Lower(Address) + Lower(Phone) + Lower(NINO),' ', '')),2) 
	FROM [user]
END

GO
