
@{
    ViewBag.Title = "Search Results";
}

<div class="jumbotron">
    <h1>Registered!</h1>
    <p class="lead">You are currently registered to vote.</p>
    <p>You will automatically receive a polling card to your registered address</p>
    <p><a href="http://eoni.org.uk/Register-To-Vote/Registration-FAQs" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

